    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <base href="@base-url">
     <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"-->
   <link rel="stylesheet" href="public/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="public/css/abt.css">
    <title>About the artist</title>
    </head>
    <body>
    <nav>
   <div class="social">
     <div class="x"><i class="fas fa-phone"></i><span>Emergency Line:</span>+234-91-5567-8900</div>                                      
     <div class="x"><i class="fas fa-map-marker-alt"></i><span>Location:</span>Awka, Nigeria</div>                                      
     <div class="x"> <i class="fas fa-business-time"></i><span>Mon-Sat:</span>9.30am To 7.00pm</div>    
   </div>  
   <div class="mobile-first">
 <label for=""class="logo-mobile">LOGO</label>    
 <div class="toggle-menu">
     <span></span>                                    
     <span></span>                                    
     <span></span>                                    
 </div>
   <div class="login-content-moblie">
    <a href=""> <i class="far fa-user-circle"></i></a>                                     
     </div> 
   </div>
  
   <ul class="navigation">
     <label for=""class="logo">LOGO</label>                                      
   <li> <a href="">HOME</a></li>
   <li> <a href="artist/about">ABOUT THE ARTIST</a></li>
   <li> <a href="service">SERVICES/BOOK</a></li>
   <li> <a href="blog">BLOG</a></li>
   <li> <a href="contact">CONTACT</a></li>
   <input type="submit" value="--Thank for coming--">

   
   <div class="login-content">
         <a href=""> <i class="far fa-user-circle"></i></a>                                    
     </div>
   </ul>   
                              
</nav>
    <div class="glober-wrap">

    <section>
    <div class="main">
        <div class="sub-title">

            <div class="abt"style="position:relative;left:1%">
            <h5>About Section</h5><br>
            <h4>ABOUT THE<br>  ARTIST</h4>
            </div> 
        </div>  
            


    <div class="container-gallary">
    <div class="abt-artist img-section"><img src="asset/img/gallery_item_1.png" alt="" srcset=""></div>
    <div class="abt-artist text-point">
    <div class="abt-text">
    <div class="hed"><h1>About me. Sam Smith</h1></div>
    <div class="poin"> 
    <p>the token is @csrf  Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. Quis ipsum suspendisse 
      ultrices gravida. Risus commodo viverra maecenas ac-cumsan 
      lacus vel facilisis commodo viverra maecenas. Lorem ipsum dolor
        sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Quis ipsum susp endisse ultrices gravida.
          Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>                                  
    </div>

    
    
   
    <div class="hed"><a href="contact" style="text-decoration: none; color: #fff;"><button>CONTACT ME</button></a></div>

    </div>
    </div>


    </div>
    </section>
    <section>
    <div class="loader">


    <div class="loader-icon">
    <div class="icon-now"><h1>100%</h1><br><small>Passion</small></div>
    <div class="icon-now"><div class="icon-shade_one"></div><h1>75%</h1><br><small>Models</small></div>
    <div class="icon-now"><div class="icon-shade_two"></div><h1>25%</h1><br><small>Studio</small></div>
    <div class="icon-now"><div class="icon-shade_tre"></div><h1>50%</h1><br><small>Nature</small></div>
    </div>

    </div>
    </section>
    <section>
    <div class="service-section">


    <div class="wrapper">
    <div class="items-service">
    <div class="product-items">
    <div class="product-img">
    <img src="asset/img/icon/1.png" alt="" srcset="">   
    </div>
    <div class="product-detail">
    <small>Studio Photography</small>
    <p>Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit, sed do eiusmod tempo
    r incid-idunt ut labore et dolore magna aliqua.</p>
    </div>
    </div>
    <div class="product-items">
    <div class="product-img">
    <img src="asset/img/icon/2.png" alt="" srcset="">   
    </div>
    <div class="product-detail">
    <small>Photo on tape</small>
    <p>Consectetur adipiscing elit, sed do eiusmo
    d tempor incididunt ut labore et dolor
    e magna aliqua. Quis ipsum suspendisse ultrices.</p>
    </div>
    </div>

    <div class="product-items">
    <div class="product-img">
    <img src="asset/img/icon/3.png" alt="" srcset="">   
    </div>
    <div class="product-detail">
    <small>Studio Photography</small>
    <p>Ipsum dolor sit amet, consectetur adipiscing 
    elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua.</p>
    </div>
    </div>
    </div>
    <button>
    <a href="contact?subject=Asking%20for%20quote&message=hello,%20i%20am%20here%20to%20inquire%20about%20your%20pricing,%20please%20can%20you%20tell%20me%20the%20price%20for%20each%20packages" style="text-decoration: none; color: #fff;">ASK FOR A QUOTE</a>
   </button>
    </div>
    </div>
    </section>


    </div>

    <div class="footer">
    <div class="footer-conte">

    <div class="footer-icons">
    <div class="icon">
    <a href=""><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="icon">
    <a href=""><i class="fa fa-facebook"></i></a>
    </div>
    <div class="icon">
    <a href=""><i class="fa fa-twitter"></i></a>
    </div>
    <div class="icon">
    <a href=""><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="icon">
    <a href=""><i class="fa fa-behance"></i></a>
    </div>
    </div> 
    <span class="bottom_footer">&copy;www.SamStudio.com|Made by HenryCode</span>    
    </div>
    </div>
    </body>
    <script src="public/javascript/app.js"></script>
    </html>