<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <base href="@base-url">
 <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"-->
   <link rel="stylesheet" href="https://samstudio.heroku.com/public/fontawesome-free-5.15.3-web/css/all.css">
<link rel="stylesheet" href="public/css/book.css">
<title>Our services</title>
</head>
<body>
<nav>
   <div class="social">
     <div class="x"><i class="fas fa-phone"></i><span>Emergency Line:</span>+234-91-5567-8900</div>                                      
     <div class="x"><i class="fas fa-map-marker-alt"></i><span>Location:</span>Awka, Nigeria</div>                                      
     <div class="x"> <i class="fas fa-business-time"></i><span>Mon-Sat:</span>9.30am To 7.00pm</div>    
   </div>  
   <div class="mobile-first">
 <label for=""class="logo-mobile">LOGO</label>    
 <div class="toggle-menu">
     <span></span>                                    
     <span></span>                                    
     <span></span>                                    
 </div>
   <div class="login-content-moblie">
    <a href=""> <i class="far fa-user-circle"></i></a>                                     
     </div> 
   </div>
  
   <ul class="navigation">
     <label for=""class="logo">LOGO</label>                                      
   <li> <a href="">HOME</a></li>
   <li> <a href="artist/about">ABOUT THE ARTIST</a></li>
   <li> <a href="service">SERVICES/BOOK</a></li>
   <li> <a href="blog">BLOG</a></li>
   <li> <a href="contact">CONTACT</a></li>
   <input type="submit" value="--Thank for coming--">

   
   <div class="login-content">
         <a href=""> <i class="far fa-user-circle"></i></a>                                    
     </div>
   </ul>   
                              
</nav>
<div class="glober-wrap">

<section>
<div class="main">
    <div class="sub-title">

        <div class="abt"style="position:relative;left:-20%">
        <h5>SERVICES</h5><br>
        <h4>SERVICE WORK<br> & FIXED PRICES</h4></div> 
        </div>  
        


<div class="container-gallary">

<div class="gallary-img">
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span><img src="asset/img/2.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span><img src="asset/img/16.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span> <img src="asset/img/7.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span> <img src="asset/img/16.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span><img src="asset/img/11.jpg" alt="" srcset=""></div>
</div>
<div class="gallary-img">
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span> <img src="asset/img/1.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span><img src="asset/img/16.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span><img src="asset/img/19.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span> <img src="asset/img/22.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span><img src="asset/img/8.jpg" alt="" srcset=""></div>
</div>
<div class="gallary-img">
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span><img src="asset/img/2.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span> <img src="asset/img/14.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span> <img src="asset/img/7.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span><img src="asset/img/16.jpg" alt="" srcset=""></div>
<div class="img_p"><span class="shadow">FASHION PHOTOGRAPHY</span> <img src="asset/img/11.jpg" alt="" srcset=""></div>
</div>

</div>
<div class="gallary-button">
    <button>TRADITIONAL WEEDING</button>
    <button>WHITE WEEDING</button>
    <button>FASHION</button>
    <button> PORTRAIT</button>
    <button> MAGAZINE</button>
    </div>

    <div class="fixed_price">
        <div class="container-price">
            <div class="slide-container active">
                <div class="sub-title">
                    <div class="abt">
                     <div class="abts">
                    <h5>FIXED PRICES <br>table</h5><br>
                    <h4>White Weeding</h4></div> 
                    </div> 
                    </div>
                <div class="slide">
                    <div class="user-table">
                        <div class="fix-price-table">
                          <h1>Package A</h1>
                        <ol>
                          <li>Pre Weeding Shoot</li>
                          <li>Brider Shower</li>
                          <li>Drone</li>
                          <li>Synthetic Photo Book(12 x 36)</li>
                          <li>Two photographer</li>
                          <li>One video grapher</li>
                          <li>Two billow Tro</li>
                          <li>Three Enlargement 2(16 x20) 1(20x24) <br>SoftCopy 32G flash drive </li>
                          <li>Note: free delivery to any State in NG</li>
                          <span># 500,000</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package B</h1>
                        <ol>
                
                          <li>Brider Shower</li>
                          <li>Drone</li>
                          <li>Synthetic Photo Book(12 x 30)</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>Two billow Tro</li>
                          <li>Three Enlargement 2(16 x20) 1(12x 15) <br>SoftCopy 32G flash drive all job </li>
                          <span># 320,000</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package C</h1>
                        <ol>
                
                          <li>Brider Shower</li>
                          <li>Synthetic Photo Book(12 x 30)</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>Two billow Tro</li>
                          <li>Three Enlargement 2(16 x20) </li>
                          <span># 250,000</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package D</h1>
                        <ol>
                          <li>Synthetic Photo Book(12 x 30)</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <span># 200,000</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package E</h1>
                        <ol>
                          <li>No Synthetic Photo Book(12 x 30)</li>
                          <li>No frame</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>32 flash for SoftCopy </li>
                          <span># 170,000</span>
                        </ol>
                        </div>
                  
                    </div>
                </div>
            </div>
          
            <div class="slide-container">
                <div class="sub-title">
                    <div class="abt">
                     <div class="abts">
                    <h5>FIXED PRICES <br>table</h5><br>
                    <h4>Traditional Weeding</h4></div> 
                    </div> 
                    </div>
                <div class="slide">
                    <div class="user-table">
                        <div class="fix-price-table">
                          <h1>Package A</h1>
                        <ol>
                         <li>Synthetic Photo Book(12 x 36)</li>
                          <li>Pre Weeding Shoot</li>
                          <li>Brider Shower</li>
                          <li>Drone</li>
                          <li>Two photographer</li>
                          <li>One video grapher</li>
                          <li>Two billow Tro</li>
                          <li>Three Enlargement 2(16 x20) 1(20x24) <br>SoftCopy 32G flash drive </li>
                          <li>Note: free delivery to any State in NG</li>
                          <span># 500,000</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package B</h1>
                        <ol>
                
                          <li>Brider Shower</li>
                          <li>Drone</li>
                          <li>Synthetic Photo Book(12 x 36)</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>Three Enlargement 2(16 x20) 1(12x 15) <br>SoftCopy 32G flash drive all job </li>
                          <span># 350,000</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package C</h1>
                        <ol>
                
                          <li>Brider Shower</li>
                          <li>Synthetic Photo Book(12 x 30)</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>Two billow Tro</li>
                          <li>One Enlargement (16 x20) </li>
                          <li>SoftCopy 16G  flash drive </li>
                          <span># 250,000</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package D</h1>
                        <ol>
                          <li>Synthetic Photo Book(12 x 30)</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>SoftCopy 16G  flash drive </li>
                          <span>Price missing*</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package E</h1>
                        <ol>
                          <li>No Synthetic Photo Book(12 x 30)</li>
                          <li>No frame</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>32 flash for SoftCopy </li>
                          <span># 170,000</span>
                        </ol>
                        </div>
                  
                    </div>
                </div>
            </div>
          
   
            <div class="slide-container">
                <div class="sub-title">
                    <div class="abt">
                     <div class="abts">
                    <h5>FIXED PRICES <br>table</h5><br>
                    <h4>White/Traditional Weeding</h4></div> 
                    </div> 
                    </div>
                <div class="slide">
                    <div class="user-table">
                        <div class="fix-price-table">
                          <h1>Package A</h1>
                        <ol>
                          <li>Pre Weeding Shoot</li>
                         <li>Synthetic Photo Book(12 x 36) 50 pages</li>
                          <li>Brider Shower</li>
                          <li>Drone</li>
                          <li>Two photographer</li>
                          <li>One video grapher</li>
                          <li>Six Enlargement 2(16 x20) 4(20x24)</li>
                          <li>Note: free delivery to any State in NG</li>
                          <span># 550,000</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package B</h1>
                        <ol>
                
                          <li>Brider Shower</li>
                          <li>Drone</li>
                          <li>Synthetic Photo Book(12 x 36)</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>Three Enlargement 2(16 x20) 1(12x 15) <br>SoftCopy 32G flash drive all job </li>
                          <span># 350,000</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package C</h1>
                        <ol>
                
                          <li>Brider Shower</li>
                          <li>Synthetic Photo Book(12 x 30)</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>Two billow Tro</li>
                          <li>One Enlargement (16 x20) </li>
                          <li>SoftCopy 16G  flash drive </li>
                          <span># 250,000</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package D</h1>
                        <ol>
                          <li>Synthetic Photo Book(12 x 30)</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>SoftCopy 16G  flash drive </li>
                          <span>Price missing*</span>
                        </ol>
                        </div>
                        <div class="fix-price-table">
                          <h1>Package E</h1>
                        <ol>
                          <li>No Synthetic Photo Book(12 x 30)</li>
                          <li>No frame</li>
                          <li>One photographer</li>
                          <li>One video grapher</li>
                          <li>32 flash for SoftCopy </li>
                          <span># 170,000</span>
                        </ol>
                        </div>
                  
                    </div>
                </div>
            </div>
          
   
           
            <div class="controls">
                 <div class="leff" onclick="leftPointer()"><</div>
                 <div class="rigg" onclick="rightPointer()">></div>
              </div>
                                      
           </div> 
        </div>
           
    </div>

</div>
</section>


<section>
  <div class="main-ad">
      <div class="sub-title">
  
          <div class="abt">
          <h5>SERVICES</h5><br>
          <h4>SERVICE WORK<br> & FIXED PRICES</h4></div> 
          </div>  
          
  
  
  <div class="container-gallary">
  
 <div class="ad-content">
   <div class="ad-main-content">
     <div class="c-content">
       <div class="log">
       <img src="asset/img/icon/images.jpg" alt="" srcset="">
        </div>
       <h2> WEDDING PHOTOGRAPHY</h2>
       <p>World the end of summer the sweltering heat makes human sweat in the night and man  plants and trees wilt even</p>
  <button>---READ MORE---</button>
     </div>
      </div>
   <div class="ad-main-content g">
     <img src="asset/img/single_offer_img_2.png" alt="" srcset="">
   </div>
  
 </div>
 <div class="ad-content">
  <div class="ad-mian-w a-w">
    <img src="asset/img/single_offer_img_1.png" alt="" srcset="">
  </div> 
  <div class="ad-mian-w">
      <div class="c-content">
          <div class="log">
          <img src="asset/img/icon/images.jpg" alt="" srcset="">
           </div>
          <h2>NATURE PHOTOGRAPHY</h2>
        <p>that the monsoon clouds are soon coming, there is a strange silence in the ears,<br> the sky gets darker and darker, the flash of lightning illuminates the dark skies <br>all time needs band the sound of thunder fills the heart with fear.</p>
        <button>---READ MORE---</button>
        </div>
  </div> 
 
 
  </div>
  
  </div>
 
  
  </div>
  </section>




<section>
<div class="service-section">
<div class="sub-title">

<div class="abt">
<h5>SERVICES</h5><br>
<h4>CHECK OUT OUR <br>SERVICE WORK</h4></div> 
</div>  

  
<div class="wrapper">
  <div class="items-service">
      <div class="product-items">
         <div class="img"><img src="asset/img/icon/1.png" alt="" srcset=""></div>
              <div class="product-detail">
              <small>Studio Photography</small>
              <p>Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit, sed do eiusmod tempo
              r incid-idunt ut labore et dolore magna aliqua.</p>
              </div>
      </div>
    
      <div class="product-items">
         <div class="img"><img src="asset/img/icon/2.png" alt="" srcset=""></div>
              <div class="product-detail">
              <small>Studio Photography</small>
              <p>Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit, sed do eiusmod tempo
              r incid-idunt ut labore et dolore magna aliqua.</p>
              </div>
      </div>
    
      <div class="product-items">
         <div class="img"><img src="asset/img/icon/3.png" alt="" srcset=""></div>
              <div class="product-detail">
              <small>Studio Photography</small>
              <p>Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit, sed do eiusmod tempo
              r incid-idunt ut labore et dolore magna aliqua.</p>
              </div>
      </div>
    
      <div class="product-items">
         <div class="img"><img src="asset/img/icon/4.png" alt="" srcset=""></div>
              <div class="product-detail">
              <small>Studio Photography</small>
              <p>Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit, sed do eiusmod tempo
              r incid-idunt ut labore et dolore magna aliqua.</p>
              </div>
      </div>
    
      <div class="product-items">
         <div class="img"><img src="asset/img/icon/5.png" alt="" srcset=""></div>
              <div class="product-detail">
              <small>Studio Photography</small>
              <p>Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit, sed do eiusmod tempo
              r incid-idunt ut labore et dolore magna aliqua.</p>
              </div>
      </div>
    
      <div class="product-items">
         <div class="img"><img src="asset/img/icon/6.png" alt="" srcset=""></div>
              <div class="product-detail">
              <small>Studio Photography</small>
              <p>Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit, sed do eiusmod tempo
              r incid-idunt ut labore et dolore magna aliqua.</p>
              </div>
      </div>
    
     
  </div>
  <button>View More</button>
</div>

</div>
</section>
<section>
<div class="loader">
<div class="sub-title">
<div class="abt">
<h5>LOADER</h5>
</div> 
</div> 

<div class="loader-icon">
<div class="icon-now"><h1>100%</h1><br><small>Passion</small></div>
<div class="icon-now"><div class="icon-shade_one"></div><h1>75%</h1><br><small>Models</small></div>
<div class="icon-now"><div class="icon-shade_two"></div><h1>25%</h1><br><small>Studio</small></div>
<div class="icon-now"><div class="icon-shade_tre"></div><h1>50%</h1><br><small>Nature</small></div>
</div>

</div>
</section>
<section>
<div class="blog-index">
<div class="sub-title">
<div class="abt">
<h5>OUR BLOG</h5><br>
<h4>LATEST <br> STORY</h4>
</div> 
</div>

<div class="blog_img_wrap">
<div class="blog_img_sec">

<div class="blog_img">
<div class="img">
<img src="asset/img/21.jpg" alt="" srcset="">
</div>
<div class="detail">
<small class="de_k">BY MICHAL / MARCH 30 , 2019</small>
<p class="de_p"><a  class="lin_a" href="">CREEPETH GRASS BROUGHT OVER MAN</a></p>
<small class="x_b">Is life form dominion under very seasons together them divide so, she'd bearing sixth</small>
</div>
</div>
<div class="blog_img">
<div class="img">
<img src="asset/img/16.jpg" alt="" srcset="">
</div>
<div class="detail">
<small class="de_k">BY MICHAL / MARCH 30 , 2019</small>
<p class="de_p"><a  class="lin_a" href="">CREEPETH GRASS BROUGHT OVER MAN</a></p>
<small class="x_b">Is life form dominion under very seasons together them divide so, she'd bearing sixth</small>
</div>
</div>
<div class="blog_img">
<div class="img">
<img src="asset/img/4.jpg" alt="" srcset="">
</div>
<div class="detail">
<small class="de_k">BY MICHAL / MARCH 30 , 2019</small>
<p class="de_p"><a class="lin_a" href="">MAD WHALES GATHERING OPEN EVENING</a></p>
<small class="x_b">Is life form dominion under very seasons together them divide so, she'd bearing sixth</small>
</div>
</div>


</div>
</div>

</div>
</section>
</div>

<div class="footer">
<div class="footer-conte">

<div class="footer-icons">
<div class="icon">
<a href=""><i class="fa fa-pinterest-p"></i></a>
</div>
<div class="icon">
<a href=""><i class="fa fa-facebook"></i></a>
</div>
<div class="icon">
<a href=""><i class="fa fa-twitter"></i></a>
</div>
<div class="icon">
<a href=""><i class="fa fa-linkedin"></i></a>
</div>
<div class="icon">
<a href=""><i class="fa fa-behance"></i></a>
</div>
</div> 
<span class="bottom_footer">&copy;www.SamStudio.com|Made by HenryCode</span>    
</div>
</div>
</body>
<script src="public/javascript/app.js"></script>
</html>