<!doctype html>
<html>
      <head>
        <meta charset="UTF-80">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
         
        <title>
                change your email
        </title>
        </head>
        <body>
                <div>
                        <form action="admin/user/email/change" method="post">
                                <input type="hidden" name="csrf_token" value="@csrf">
                        <ul>
                                
                                <li>
                                        <p>enter your new email address</p>
                                        <input type="email" name="email" placeholder="enter your new email address">
                                        <p style="color: red; font-size: 14px;">@emailErr</p>
                                </li>
                                <li>
                                        <p>enter your password</p>
                                        <input type="password" name="password" placeholder="enter your password">
                                        <p style="color: red; font-size: 14px;">@pswErr</p>
                                </li>
                                <li>
                                        <input type="submit" value="change email">
                                </li>
                        </ul>
                        </form>
                </div>
        </body>
        
</html>