<!doctype html>
<html>
      <head>
        <meta charset="UTF-80">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
         
        <title>
                change your password
        </title>
        </head>
        <body>
                <div>
                        <form action="admin/user/password/change" method="post">
                                <input type="hidden" name="csrf_token" value="@csrf">
                        <ul>
                                <li>
                                        <p>enter your old password</p>
                                        <input type="password" name="old_password" placeholder="enter your old password">
                                        <p style="color: red; font-size: 14px;">@pswErr</p>
                                </li>
                                <li>
                                        <p>enter your new password</p>
                                        <input type="password" name="new_password" placeholder="enter your new password">
                                        <p style="color: red; font-size: 14px;">@newPswErr</p>
                                </li>
                                <li>
                                        <p>enter your new password again</p>
                                        <input type="password" name="confirm_password" placeholder="retype your new password">
                                        <p style="color: red; font-size: 14px;">@confirmPswErr</p>
                                </li>
                                <li>
                                        <input type="submit" value="change password">
                                </li>
                        </ul>
                        </form>
                </div>
        </body>
        
</html>