<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <base href="@base-url">
 <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"-->
   <link rel="stylesheet" href="https://samstudio.heroku.com/public/fontawesome-free-5.15.3-web/css/all.css">
<link rel="stylesheet" href="public/css/email_recieved.css">
<title>thanks for contacting us</title>
</head>
<body>
<nav>
   <div class="social">
     <div class="x"><i class="fas fa-phone"></i><span>Emergency Line:</span>+234-91-5567-8900</div>                                      
     <div class="x"><i class="fas fa-map-marker-alt"></i><span>Location:</span>Awka, Nigeria</div>                                      
     <div class="x"> <i class="fas fa-business-time"></i><span>Mon-Sat:</span>9.30am To 7.00pm</div>    
   </div>  
   <div class="mobile-first">
 <label for=""class="logo-mobile">LOGO</label>    
 <div class="toggle-menu">
     <span></span>                                    
     <span></span>                                    
     <span></span>                                    
 </div>
   <div class="login-content-moblie">
    <a href=""> <i class="far fa-user-circle"></i></a>                                     
     </div> 
   </div>
  
   <ul class="navigation">
     <label for=""class="logo">LOGO</label>                                      
   <li> <a href="">HOME</a></li>
   <li> <a href="artist/about">ABOUT THE ARTIST</a></li>
   <li> <a href="services">SERVICES/BOOK</a></li>
   <li> <a href="blog">BLOG</a></li>
   <li> <a href="contact">CONTACT</a></li>
   <input type="submit" value="--Thank for coming--">

   
   <div class="login-content">
         <a href=""> <i class="far fa-user-circle"></i></a>                                    
     </div>
   </ul>   
                              
</nav>
<div class="glober-wrap">

<section>
<div class="main">
<div class="success">
         <p>Thanks for contacting us, we have receive your message and we will get back to you.
         </p>
</div>
</div>
</section>


</div>

<div class="footer">
<div class="footer-conte">

<div class="footer-icons">
<div class="icon">
<a href=""><i class="fa fa-pinterest-p"></i></a>
</div>
<div class="icon">
<a href=""><i class="fa fa-facebook"></i></a>
</div>
<div class="icon">
<a href=""><i class="fa fa-twitter"></i></a>
</div>
<div class="icon">
<a href=""><i class="fa fa-linkedin"></i></a>
</div>
<div class="icon">
<a href=""><i class="fa fa-behance"></i></a>
</div>
</div> 
<span class="bottom_footer">&copy;www.SamStudio.com|Made by HenryCode</span>    
</div>
</div>
</body>

</html>