<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <base href="@base-url">
 <link rel="stylesheet" href="../../../public/css/forgot_password.css">
<title>Reset your password</title>
</head>
<body>
<nav>
<div class="social">
<div class="x"><span>Emergency Line:</span>+234-91-5567-8900</div>                                      
<div class="x"><span>Location:</span>Awka, Nigeria</div>                                      
<div class="x"><span>Mon-Sat:</span>9.30am To 7.00pm</div>    
</div>  
<div class="mobile-first">
<label for=""class="logo-mobile">LOGO</label>    
<div class="toggle-menu">
<span></span>                                    
<span></span>                                    
<span></span>                                    
</div>
<div class="login-content-moblie">
<a href="">login</a>                                    
</div> 
</div>

<ul class="navigation">
<label for=""class="logo">LOGO</label>                                      
<li> <a href="@base-url">HOME</a></li>
<li> <a href="@base-url/artist/about">ABOUT THE ARTIST</a></li>
<li> <a href="@base-url/service">SERVICES</a></li>
<li> <a href="@base-url/blog">BLOG</a></li>
<li> <a href="@base-url/contact">CONTACT</a></li>
<input type="submit" value="--Thank for coming--">


<div class="login-content">
<a href="">login</a>                                    
</div>
</ul>   

</nav>
<div class="glober-wrap">
<div class="center_text">
<div class="find_ur_acc">
  <strong>Find Your Account</strong>   
  <p>Enter your Email Account</p>                                  
</div>
  <form action="reset" method="post">
    <input type="hidden" name="csrf_token" value="@csrf">
    <div class="input">
        <input type="email" name="email" id="" placeholder="enter your email..">
    </div>
    <p class="form-error">@emailErr</p>
      <div class="btn">                                
           <a href="../login">Cancel</a>                                   
           <button class="submit">Submit</button>                                   
      </div>                                    
  </form>                                   
</div>
</div>

</body>

<script nonce="@nonce">

let tog=document.querySelector('.toggle-menu');
let nav=document.querySelector('.navigation');
tog.addEventListener('click',function(){
tog.classList.toggle('active');   
nav.classList.toggle('active')                              
})

function seta(e){
document.getElementById('menu').classList.toggle('active');

}

</script>
</html>