<!DOCTYPE html>
<html>
        <head>
                 <meta charset="UTF-8">
                 <meta name="viewport" content="width=device-width, initial-scale=1.0">
                  <meta http-equiv="X-UA-Compatible" content="ie=edge"><
                        <base href="@base-url">
        </head>
        <body>
                <div class="view" style="background-color: rgb(252, 249, 249); display: flex; 
                justify-content: center; align-items: center;">
                        <div class="content" style="background-color: #6767f7;
                         max-height: 600px; min-height: 40px; height: 200px; width: 80%;
                          @media screen and (min-width: 900px) {
                                background-color: red;
                          }
                         ">
                                hello
                        </div>
                </div>
        </body>
</html>