<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <base href="@base-url/admin">
<link rel="stylesheet" href="../public/css/register.css">
<title>Register</title>
</head>
<body>
<nav>
<div class="social">
<div class="x"><span>Emergency Line:</span>+234-91-5567-8900</div>                                      
<div class="x"><span>Location:</span>Awka, Nigeria</div>                                      
<div class="x"><span>Mon-Sat:</span>9.30am To 7.00pm</div>    
</div>  
<div class="mobile-first">
<label for=""class="logo-mobile">LOGO</label>    
<div class="toggle-menu">
<span></span>                                    
<span></span>                                    
<span></span>                                    
</div>
<div class="login-content-moblie">
<a href="">login</a>                                    
</div> 
</div>

<ul class="navigation">
<label for=""class="logo">LOGO</label>                                      
<li> <a href="">HOME</a></li>
<li> <a href="">ABOUT THE ARTIST</a></li>
<li> <a href="">SERVICES</a></li>
<li> <a href="">BLOG</a></li>
<li> <a href="">CONTACT</a></li>
     
<input type="submit" value="--Thank for coming--">


<div class="login-content">
<a href="">login</a>                                    
</div>
</ul>   

</nav>
<div class="glober-wrap">
<div class="center_text">

  <form action="create" method="post">
    <input type="hidden" name="csrf-token" value="@csrf">
    
    <div class="input">
        <input type="text" name="fname" id="" placeholder=" First Name">
        <p class="form-error">@fnameErr</p>
        <input type="text" name="lname" id="" placeholder="last Name">
        <p class="form-error">@lnameErr</p>
         </div>
    
    <div class="input">
      <input type="email" name="email" id="" placeholder="enter your email">
      <p class="form-error">@emailErr</p>
        <input type="password" name="password" id="" placeholder="enter your password">
        <p class="form-error">@pswErr</p>
     </div>
      <div class="btn">
           <a  class="foget" href="login">Click here to login</a>                                   
           <button class="submit">Register</button>                                   
      </div>                                    
  </form>                                   
</div>

</div>

</body>

<script nonce="@nonce">

let tog=document.querySelector('.toggle-menu');
let nav=document.querySelector('.navigation');
tog.addEventListener('click',function(){
tog.classList.toggle('active');   
nav.classList.toggle('active')                              
})

function seta(e){
document.getElementById('menu').classList.toggle('active');

}

</script>
</html>