<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <base href="@base-url">
 <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"-->
   <link rel="stylesheet" href="https://samstudio.heroku.com/public/fontawesome-free-5.15.3-web/css/all.css">
<link rel="stylesheet" href="public/css/service.css">
<title>Document</title>
</head>
<body>
<div class="glober-wrap">
 <section>
      <div class="admin-section">
         <div class="admin-nav">                      
            <ul>
               <a style="text-decoration: none;font-size:1.3rem;margin-left:9px;" href="#"><h1 style="color:#fff;margin-bottom:10%;font-size:1.3em;">Dasrsh Board</h1> </a>
                
            <li><i class="fas fa-home"></i><a href="">Home</a></li>
            <li>  <i class="far fa-smile"  aria-hidden="true"></i><a href="">Team</a></li>
            <li><i class="fas fa-cube"  aria-hidden="true"></i><a href="">Task</a></li>
            <li><i class="far fa-file-alt"  aria-hidden="true"></i><a href="admin/task" >Project</a>
              <ul>
                 <li><a href="recent.html">Manage HomePage</a></li>
                 <li><a href="service.html">Manage Service</a></li>
                  <li><a href="">Manage Users</a></li>
                 <li><a href="#">Manage About</a>
                  <ul class="abt_">
                     <li><a href="">About Artise</a>
                     <li><a href="new.html">About Studio</a>
                  </ul>
               </li>
              </ul>
              </li>
            <li>  <i class="far fa-clock"  aria-hidden="true"></i><a href="">Timesheet</a></li>
            <li> <i class="fas fa-cog"  aria-hidden="true"></i><a href="">Setting</a></li>
           <li> <i class="fas fa-power-off"  aria-hidden="true"></i><a href="https://samstudio.heroku.com/admin/logout">Logout</a></li>
        
            </ul>
             </div>
             <div class="side-bar">
               <nav>
                  <div class="search"><input type="search" value="search" name="" id=""><input type="submit" value="search"></div>
                  <ul class="navigation">                             
                     <li><i class="far fa-bell"></i></li>
                       <li><i class="far fa-comment-alt"></i>
                       <li> <i class="far fa-user-circle"></i></i>
                       </li>
                       </ul>   
                  </nav>
                  <div class="container">
                     <div class="wrap">
                      <div class="j">
                   <h1>Service Rendering</h1><button id="ad">Service Sample</button>
                        </div>
                   <div class="box">
                      <div class="box-top">

                                   
                                    <div class="gene-btn">
                                          <div class="reg-info">
                                                <input  type="text" name="" required>
                                                <span class="spans">input Title for your package</span>
                                                 </div>
                                                 <div class="reg-info" id="send-data-topa">
                                                   <button>Send items to your package List</button>
                                                   </div>
                                                
                                    </div>
                     </div>

                     </div>
                   </div>
                  </div>
                  </div>
               </div>
      </div>
   </section>
</div>

<div id="litle">
      <div class="form">
         <div class="wrap">
            <div class="no-of-item">
                  <span>1</span><strong>Item Added</strong>
               </div>
            <div class="no-of-cancel" id="cancel-btn">
                  <span>x</span>
               </div>
            </div>
       <form action="">
            <div class="gene-btn">
             
               <div class="subcontent">
                  <div class="reg-info">
                  <input  type="text" name="" required>

                  <span class="span">Add pakcage 1 detail</span>

                  </div>
                  <div class="reg-info">
                  <input  type="text" name="" required>
                  <span class="span">Add pakcage 2 detail</span>
                   </div>
                  <div class="reg-info">
                  <input  type="text" name="" required>
                  <span class="span">Add pakcage 3 detail</span>
                   </div>
                  <div class="reg-info">
                  <input  type="text" name="" required>
                  <span class="span">Add pakcage 4 detail</span>
                   </div>
                  <div class="reg-info">
                  <input  type="text" name="" required>
                  <span class="span">Add pakcage 5 detail</span>
                   </div>
                  <div class="reg-info">
                  <input  type="text" name="" required>
                  <span class="span">Add price  detail</span>
                   </div>
                 
                   <div  id="send-data-top">
                      
                            
                    <button>Send items to your package List</button>
                    </div>
                 
                 
                  </div>
          
            </div>
       </form>
      </div>
   </div>
</body>
<script src="sc.js"></script>
</html>


