@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*,html{
  font-family: 'Nunito', sans-serif;
 margin: 0%;
 padding: 0%;                                     
}
body{
height: 100%;
box-sizing: border-box;                         
}
.glober-wrap{
min-height:100%;  
 overflow: hidden;            
}
nav{
 width: 100%;
 z-index: 400;
 box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);     
 position: fixed;
 top:0%;
 background-color: #fff;
                            
}
nav .social{
 display: flex;
 height: 40px;
 align-items: center;     
 border-bottom: 1px solid #eeeeee;                                  
}
nav .social {
margin-left: 5rem;                                      
}
nav .social .x{
margin-left: 1rem;                                      
}
nav .navigation{
display: flex;    
padding: 10px;    
margin-left: 5rem;    
align-items: center;              
}
nav .navigation li{
list-style: none;
margin: 0%;      
padding: 0%;                                   
}
nav .navigation li a{
list-style: none;
margin-left: 0.9rem;     
text-decoration:none;      
color: #000000;                              
}
nav .navigation .logo{
margin: 0%;
padding: 0%;
font-size: 3.2rem;
font-weight: 40;  
align-items: center;   
margin-left: 5rem;                                     
}
nav .navigation input[type="submit"]{
width: 400px;
height: 40px;
border:none;
outline:none;
background-color: #000fff;
color:#fff;
position: relative;
top:6%;
left:14px;
cursor: pointer;
transition: all 2s ease;
}
nav .navigation input[type="submit"]:hover{
background: #000000;
}
nav .logo-mobile{display: none;}
nav .login-content a{
 margin-left: 5rem;   
 text-decoration:none;  
 text-transform:uppercase;
 font-size: 1.1rem;                                    
}

nav  .mobile-first .login-content-moblie{
display: none;
} 



 

.main{
  margin-top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 70vh;
}
 .main .modal {
        background-color: #bedbfb;
        width: 70vw;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-weight: 600;
        box-shadow: -2px -2px 5px 0px rgba(10, 10, 10, 0.1) ,
        2px 2px 5px 0px rgba(210, 210, 210, 0.3) ; 
 }





.footer{

height: 90px;
display:flex;
justify-content:center;
align-items:center;
background-color: #303036;
color:#fff;
position: relative;
overflow: hidden;
}
.footer .footer-conte{
width:90%;
display:flex;
justify-content:space-between;
align-items:center;
background-color: #303036;
color:#fff;
position: relative;
overflow: hidden;
}
.footer .footer-conte .footer-icons{
display:flex;
flex-direction:row;
justify-content:space-between;
}
.footer .footer-conte .footer-icons .icon{
width:20px;
height:20px;
background-color:white;
color:black;
justify-content:center;
display:flex;
text-align:center;
align-items:center;
margin:16px;
border-radius:15px;
}
.footer .footer-conte .footer-icons .icon a{
text-decoration:none;
}
.footer .bottom_footer{
display:flex;
flex-wrap:wrap;
font-size:1.0rem;
}

 

 @media screen and (min-width: 801px) and (max-width: 900px){
         
nav .navigation{
        font-size: 0.7rem;
        margin-left: 5rem;    
                     
        }
        
        nav .navigation .logo{
                font-size: 1.2rem;
                margin-left: 0;                                     
                }
         
 nav .navigation input[type="submit"]{
        width: 200px;
        height: 40px;
        
        left:14px;
        cursor: pointer;
        
        }   
        nav .login-content a{
                margin-left: 2rem;   
                                             
               }    
               .main {
                margin-top: 40px;
                height: 80vh;
         }
 }

@media screen and (min-width: 300px) and (max-width: 800px){

body{

overflow-x: hidden;                                    
}

nav{
margin: 0%;padding-right: 53px;
background-color:#bedbfb;


}
nav .social{
        display: none;                                     
       }
nav .navigation .logo {
        padding: 10px 20px;
        
        }
        
nav .mobile-first .toggle-menu{
position: relative;                                       
width: 40px;
height: 30px;
background-color: #eeeeee;
align-items: center;
margin: 0% auto;   
display: flex;
justify-content: center;
align-content: center;
border-radius: 10px;
align-items: center;       
cursor: pointer;
overflow: hidden;                            
}
nav .mobile-first .toggle-menu span{
position: absolute;                                      
width: 30px;
height: 4px;
background-color: #000fff;
border-radius: 4px;
transform: 0.5s;      
align-items: center;       
margin: 0% auto;                     
}
nav .mobile-first .toggle-menu span:nth-child(1){
transform: translateY(-9px);                                
width: 25px;
right: 15px;
                                  
}
nav .mobile-first .toggle-menu.active span:nth-child(1){
transform: translateY(0px) rotate(45deg);                                
width: 25px;
right: 15px;
transition-delay: 0.125s;
                                  
}
nav .mobile-first .toggle-menu span:nth-child(2){
transform: translateY(9px);                                
width: 20px;
right: 15px;
                                  
}
nav .mobile-first .toggle-menu.active span:nth-child(2){
  transform: translateY(0px) rotate(315deg);                                
width: 25px;
right: 15px;
                                  
}
nav .mobile-first .toggle-menu.active span:nth-child(3){
transform: translateX(60px);                                
width: 25px;
right: 15px;
                                  
}
nav .navigation{
 height: 300px;
 width: 100%;
 position: absolute;
 display: none;
 flex-direction: column;  
 margin: 0% auto;
 align-items: right;      
 padding-right:49px;          
 padding-bottom: 29px;
 background-color: #000fff;
z-index: 900;
}   
nav .navigation.active{
 display: flex;
 z-index: 9000;
 animation: captionText 5s ease forwards;
 animation-delay: 1.4s; 
}   
nav .navigation li{
width: 100%;
margin:0%;      
padding: 0%;     
                             
}  

nav .navigation li a{
float: left;
position: relative;
width: 100%;
left: 2%;
margin:2%;      
padding: 0%;     
color:#fff;                              
}   
nav .navigation .image-icon{
display: none;                                   
}    
nav .mobile-first{
width: 100vw;
display: flex;
justify-content: space-between;   
align-content: center;
align-items: center;                               
} 
nav  .mobile-first .logo-mobile{
display: block;                                        
margin: 0%;
padding: 0%;
font-size: 2rem;
font-weight: 40;  
align-items: center;
margin-left: 5rem;                                          
}    
nav  .mobile-first .login-content-moblie{

margin-top: 2px;
height: 50px; 
width: 70px;
display: flex;
justify-content: center;
align-items: center;
}    
nav  .mobile-first .login-content-moblie a{
 align-items: center;   
margin: 0%;
padding: 0%;
z-index: 600;
text-decoration: none;                          
}    
nav .navigation .logo{
display: none;                                     
}  
nav .login-content a{
display: none;                                
}

nav .navigation input[type="submit"]{
display: none;
}  
nav .mobile-first .login-content-moblie{
 position: relative;
right: 5%;   
 text-decoration:none;  
 font-size: 19px;     
 align-items: center;                              
}    
 
 .main {
        margin-top: 40px;
        height: 80vh;
 }
}

