
*,html{
margin: 0%;
padding: 0%;                                     
}
body{
height: 100%;
box-sizing: border-box;                         
}
.glober-wrap{
min-height:100%;  
overflow: hidden;            
}
nav{
width: 100%;
height: 95px;
z-index: 400;
box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);     
display: flex;
align-items: center;
top:0%;
background-color: #fff;
position: relative;
}
nav .navigation{
   display: flex;
   position: absolute;
   right: 3%;
   float: right;
}
.search{
   position: absolute;
   left: 3%;
   float:left;
   display: flex;
   flex-direction: row;
}
.search input[type="search"]{
 
   width: 400px;
   height: 40px;
       margin:0% auto;
       position: relative;
        margin-right: 2px;
       outline: none;
       border: 1px solid #eee;
       border-radius: 5px;
       cursor: pointer;
       color:#000;
       padding-left: 5px;
  background-color: #fff;
}
.search input[type="submit"]{
   padding: 5px 5px;
       margin:0% auto;
       position: relative;
   
       outline: none;
       border-top-right-radius: 15px;
       border-bottom-right-radius: 15px;
       border: none;
       cursor: pointer;
       color:#fff;
       background-color: #000fff;
 
}
nav .navigation li{
list-style: none;
padding: 0%;              
              
}
nav .navigation li a{
float: right;
 list-style: none;
 text-decoration:none;  
 padding: 10px;                            
}


nav .logo-mobile{display: none;}

nav  .mobile-first .login-content-moblie{
display: none;
} 

.admin-section{
                                  
   width: 100%;
   height: 100vh;
 display: flex;
}
.admin-nav{
  width: 300px;
  height: 100vh;
  background-color: #000fff;
  float: left;
}
.admin-nav ul{
     padding:20px;
    margin: 0px;                              
}
.admin-nav ul li{
  list-style: none;  
  border-bottom: 1px solid #0A0A0A0A;                                  
}
.admin-nav ul li a{
text-decoration: none;
     color:#ccc;
     display: block;
     padding:10px;
     font-size: 1.0em;
     -webkit-transition:0.2s;                                 
     -moz-transition:0.2s;                                 
     -o-transition:0.2s;                                 
     transition:0.2s;                                 
}
.side-bar{
   width: 100%;
   height: 100vh;
   background-color: #fff;
   float: right;
}

.container{
   width: auto;
   height:100%;
   padding: 15px;
   margin: 0% auto;

}
.wrap{
   padding: 20px;
   margin: 0% auto;
  border: 1px solid #eee;
  background-color: white;
}
.j{
   display: flex;
   align-items: center;
}
#ad{
     padding: 5px 20px;
       outline: none;
       border-radius: 5px;
       border: none;
       cursor: pointer;
       color:#fff;
       background-color: #000fff;
      margin-left: 3px;
}
#af{
     padding: 10px 20px;
       outline: none;
       border-radius: 5px;
       border: none;
       cursor: pointer;
       color:#fff;
       background-color: #00ff8c;
      margin-left: 3px;
}
#ef{
     padding: 10px 20px;
       outline: none;
       border-radius: 5px;
       border: none;
       cursor: pointer;
       color:#fff;
       background-color: red;
      margin-left: 3px;
}

.container .box{
   margin-top: 15px;
}
.container .box .box-top{
   padding: 5px;
   padding-left: 15px;
   color:#333;
 display: flex;
 justify-content: space-between;
   font-weight: 300; 

}
ul li ul{
               display: none;
               flex-direction: column;
               padding: 20px;
              text-align: right;
             }
             ul li:hover ul{
               display: flex;
         
             }
          
table{
   width: 100%;
   border-collapse: collapse;
   font-size: 1.1rem;

   margin: 0% auto;
}
table thead th{
  border-bottom: #eee;
}
th,td{
   padding: 15px;
   text-align: left;
   font-size: 14px;
}

/********************************/











@media(min-width:724px ){

.home .container{
position: relative;
left:8%;  
}
nav .social .x{
margin: 0%;                                      
}
nav .navigation{   
padding: 0px;    
margin: 0%;    

}
}

@media(max-width:565px){

.abt h4{

font-size: 2.3rem;

}

}


@media(max-width:769px ){
.main{
margin: 40px 20px 0px 20px;
}
.main .container-gallary{
flex-direction: column;
}
.main .container-gallary .gallary-img{
width: 100%;
}
.abt h5{
left:4%;
}
.sub-title .abt h4{
left:4%;
font-size: 2.9rem;

}


.about-section .about-point{
flex-direction: column;
}
.about-sapce img{
width:200px;
height: 200px; 
margin-left:0%;

}
.about-sapce .abt-contents{
padding:0px;
width:400px; 
height: auto;
}
.about-sapce .abt-contents .text{
width:250px; 
display: flex;
flex-wrap: wrap;
position: relative;
height: auto;
margin:0%;
padding: 10% 10%;
}
.about-sapce .abt-contents .text p{
font-weight: 14px;
font-size: 1.1rem;
font-family:serif;
letter-spacing: 1px;
}
.about-sapce .abt-contents .text .abt-btn{
left: 13rem;
}
.loader-icon{
flex-direction: column;
justify-content: center;
align-items: center;
}
.icon-now{
margin-bottom:10%;
}
.blog_img_sec{
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
margin: 0% auto;
}
.blog_img_wrap{
display: flex;
flex-direction: column;


}
.blog_img_wrap > .blog_img_sec{
flex-direction: column;
}
.abt h5{
left:4%;
}
.sub-title .abt h4{
left:4%;
font-size: 1.9rem;

}


}





@media(max-width: 1289px){


body{

overflow-x: hidden;                                    
}

nav{
margin: 0%;padding-right: 53px;
background-color:#bedbfb;


}

nav .mobile-first .toggle-menu{
position: relative;                                       
width: 40px;
height: 30px;
background-color: #eeeeee;
align-items: center;
margin: 0% auto;   
display: flex;
justify-content: center;
align-content: center;
border-radius: 10px;
align-items: center;       
cursor: pointer;
overflow: hidden;                            
}
nav .mobile-first .toggle-menu span{
position: absolute;                                      
width: 30px;
height: 4px;
background-color: #000fff;
border-radius: 4px;
transform: 0.5s;      
align-items: center;       
margin: 0% auto;                     
}
nav .mobile-first .toggle-menu span:nth-child(1){
transform: translateY(-9px);                                
width: 25px;
right: 15px;

}
nav .mobile-first .toggle-menu.active span:nth-child(1){
transform: translateY(0px) rotate(45deg);                                
width: 25px;
right: 15px;
transition-delay: 0.125s;

}
nav .mobile-first .toggle-menu span:nth-child(2){
transform: translateY(9px);                                
width: 20px;
right: 15px;

}
nav .mobile-first .toggle-menu.active span:nth-child(2){
transform: translateY(0px) rotate(315deg);                                
width: 25px;
right: 15px;

}
nav .mobile-first .toggle-menu.active span:nth-child(3){
transform: translateX(60px);                                
width: 25px;
right: 15px;

}
nav .navigation{
height: 300px;
width: 100%;
position: absolute;
display: none;
flex-direction: column;  
margin: 0% auto;
align-items: right;      
padding-right:49px;          
padding-bottom: 29px;
background-color: #000fff;
z-index: 900;
}   
nav .navigation.active{
display: flex;
z-index: 9000;
animation: captionText 5s ease forwards;
animation-delay: 1.4s; 
}   
nav .navigation li{
width: 100%;
margin:0%;      
padding: 0%;     

}  

nav .navigation li a{
float: left;
position: relative;
width: 100%;
left: 2%;
margin:2%;      
padding: 0%;     
color:#fff;                              
}   
nav .navigation .image-icon{
display: none;                                   
}    
nav .mobile-first{
width: 100vw;
display: flex;
justify-content: space-between;   
align-content: center;
align-items: center;                               
} 
nav  .mobile-first .logo-mobile{
display: block;                                        
margin: 0%;
padding: 0%;
font-size: 3.2rem;
font-weight: 40;  
align-items: center;
margin-left: 1px;                                          
}    
nav  .mobile-first .login-content-moblie{

margin-top: 2px;
height: 50px; 
width: 70px;
display: flex;
justify-content: center;
align-items: center;
}    
nav  .mobile-first .login-content-moblie a{
align-items: center;   
margin: 0%;
padding: 0%;
z-index: 600;
text-decoration: none;                          
}    
nav .navigation .logo{
display: none;                                     
}  
nav .login-content a{
display: none;                                
}

nav .navigation input[type="submit"]{
display: none;
}  
nav .mobile-first .login-content-moblie{
position: relative;
right: 5%;   
text-decoration:none;  
font-size: 19px;     
align-items: center;                              
}    


.home .container{
position: relative;
left:11%;  

}
.blog_img_wrap{
display: flex;
flex-direction: column;


}
.blog_img_wrap > .blog_img_sec{
flex-direction: column;
}

.home .controls .lef,.home .controls .rig{
position: absolute;
top:20%;
background:red;
}


.home .indicator{
position: absolute;
left: 50%;
bottom: 70rem;
z-index: 2;
transform: translateX(-50%);
}
.about-sapce > img{
margin-left:0%;
}
}

@media(max-width: 697px){
nav .social{
display: none;                                     
}
nav  .mobile-first .logo-mobile{
display: block;                                        

padding: 0%;
font-size: 1.2rem;
font-weight: bolder;  
align-items: center;
margin-top: 01%;
margin-left: 1rem;                                          
} 



nav .navigation{      
padding-bottom: 49px;                       
}    
nav .navigation li{
width: 100%;
margin:2%;      
padding: 0%;     

}
.about-sapce > img{
margin-left:0%;
}


}

.notif-indicator {
   width: 5px;
   height: 5px;
   background-color: #ff0000; 
   border-radius: 50%
  }